# Compiled class file
##Rascal gitignore
# eclipse stuff
.project
.metadata
.settings
.classpath
bin/**
tmp/**
tmp/**/*
**/*.rvm
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath

# maven stuff
target/
bin/
bootstrap/

.DS_Store
/.apt_generated/

dependency-reduced-pom.xml
.ipynb_checkpoints

##Java gitignore
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

## Own rules:
model.txt
containment.txt
/reports/

